.soundcloud-linkify-working {
    background-image:url('https://dl.dropbox.com/u/9224326/www/soundcloud-linkify/images/loading.gif'); 
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-top: 21px;
}